---
layout: default
---

<h1>Donate</h1>

{{content}}

<div id="paypal-button-container"></div>
<script src="https://www.paypal.com/sdk/js?client-id=AVENhDAUskV4EjnwvZV8wLQfIlrBz4mLyY-qqb4iFvB2mnE2MiQ3tYKd7BQ6F_DnKn8-fb9EqHcWphNn&currency=USD" data-sdk-integration-source="button-factory"></script>
<script>
  paypal.Buttons({
      style: {
          shape: 'rect',
          color: 'gold',
          layout: 'vertical',
          label: 'paypal',
          
      },
      createOrder: function(data, actions) {
          return actions.order.create({
              purchase_units: [{
                  amount: {
                      value: '1'
                  }
              }]
          });
      },
      onApprove: function(data, actions) {
          return actions.order.capture().then(function(details) {
              alert('Transaction completed by ' + details.payer.name.given_name + '!');
          });
      }
  }).render('#paypal-button-container');
</script>

<hr>
<h3>Vortex</h3>
<a href="https://github.com/deskel"><i class="fab fa-github fa-2x"></i></a>
<a href="https://twitter/deskel5"><i class="fab fa-twitter fa-2x"></i></a>
<a href="mailto:Deskel666@protonmail.com"><i class="fas fa-envelope fa-2x"></i></a>

<hr>
<footer style="float:left;"><small>&copy; {{ site.footer_left }}</small></footer>
<footer style="float:right;"><small><a href="https://deskel.github.io/privacy_policy">{{ site.footer_right }}</a></small></footer>