---
layout: default
---

<small>{{ page.date | date: "%-d %B %Y" }}</small>
<h1>{{ page.title }}</h1>

{{content}}

{% if page.tags %}
  <small>tags: <em>{{ page.tags | join: "</em> - <em>" }}</em></small>
{% endif %}

<hr>

<p>Thanks for reading. Follow my <a href="https://twitter.com/DesKel5">twitter</a> for latest update</p>

<p>If you like this post, consider a small <a href="https://deskel.github.io/donate">donation</a>. Much appreciated. :)</p>

<hr>
<h3>Vortex</h3>
<a href="https://github.com/deskel"><i class="fab fa-github fa-2x"></i></a>
<a href="https://twitter/deskel5"><i class="fab fa-twitter fa-2x"></i></a>
<a href="mailto:Deskel666@protonmail.com"><i class="fas fa-envelope fa-2x"></i></a>

<hr>
<footer style="float:left;"><small>&copy; {{ site.footer_left }}</small></footer>
<footer style="float:right;"><small><a href="https://deskel.github.io/privacy_policy">{{ site.footer_right }}</a></small></footer>